<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Dalsae.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Dalsae.Properties.Settings>
      <setting name="ptMainX" serializeAs="String">
        <value>600</value>
      </setting>
      <setting name="ptMainY" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ptMainWidth" serializeAs="String">
        <value>580</value>
      </setting>
      <setting name="ptMainHeight" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="ptImgX" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ptImgY" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ptImgWidth" serializeAs="String">
        <value>580</value>
      </setting>
      <setting name="ptImgHeight" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="ptVideoX" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ptVideoY" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="ptVideoWidth" serializeAs="String">
        <value>580</value>
      </setting>
      <setting name="ptVideoHight" serializeAs="String">
        <value>800</value>
      </setting>
      <setting name="videoVolume" serializeAs="String">
        <value>0.5</value>
      </setting>
    </Dalsae.Properties.Settings>
  </userSettings>
</configuration>
